@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Offside&family=Open+Sans&family=Open+Sans);

html {
    height: 100%;
    overflow-x:hidden;
}

body {
    width:100%;
    min-height:100%;
    overflow-x:hidden;
    line-height: 1.3;
}

.container {
    font-family:'Open Sans', monospace;
}

.caption-mt {
    padding: 0 15px 20px;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;
    border-style:none;
}

.caption-mt .headingl,.caption-mt .headingl * {
    color: rgb(56, 28, 15);
    font-size:57px;
    font-family: 'Offside', serif;
    font-weight:400;
    text-align:center;
}

.countdown_timer {
    padding: 0 15px;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;
    border-style:none;
}

.fcountdown-timer {
    text-align:center;
    font-size:40px;
    color:#424242;
}

.countdown_timer .fcountdown-timer {
    color: rgb(56, 28, 15);
    font-size:25px;
    font-family: 'Open Sans', monospace;
    font-weight:700;
}

.message {
    padding: 20px 0 0;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;
    border-style:none;
}

.message .text {
    color: rgb(56, 28, 15);
    font-size:18px;
    font-family: 'Offside', serif;
    font-weight:400;text-align:center;
}

.social {
    padding: 20px 15px 0;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;
    border-style:none;
}

.socialicons {
    text-align:center;
}

.socialicons a {
    margin:0 4px;
    color: rgb(56, 28, 15);
    font-size:23px;
}

.divider {
    display:block;
    height:10px;
    width:100%;
}

.mt-module {
    box-sizing:border-box;
}

.mt-module > .mt-element {
    text-align:center;
    position:relative;
}

.mt-row .mt-module {
    position: relative;
    box-sizing:content-box;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    background-position: center;
}

.mt-module .fcountdown-timer {
    width: auto;
    display: inline-block;
}

.mt-div {
    position: relative;
    left: 0;
    top: 0;
    cursor: auto;
}

.col-div-mt {
    padding: 0 15px;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;
    border-style:none;
}

.col-div-mt .divider, .col-div-mt .divider * {
    height:40px;
}

.col-mt-div {
    padding: 50px 15px 0;
    box-sizing:border-box;
    margin: 0;
    border-color:rgb(51, 51, 51);
    border-width:0;border-style:none;
}

.col-mt-div .divider, .col-mt-div .divider * {
    height:50px;
}
